.heroContainer {
  position: relative; /* Essencial para o posicionamento da imagem e do conteúdo */
  width: 100%;
  height: 90vh; /* Ocupa 90% da altura da tela. Ajuste conforme necessário. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-branco);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    10,
    35,
    66,
    0.5
  ); /* Usa a cor primária com 50% de opacidade */
  z-index: 1; /* Fica entre a imagem e o texto */
}

.content {
  position: relative; /* Para garantir que fique acima do overlay */
  z-index: 2;
  text-align: center;
  max-width: 800px; /* Limita a largura do texto para melhor leitura */
  padding: 0 2rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--cor-branco); /* Força a cor branca para o título */
  margin-bottom: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Sombra para destacar o texto */
}

.ctaButton {
  background-color: transparent;
  border: 1px solid var(--cor-branco);
  color: var(--cor-branco);
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ctaButton:hover {
  background-color: var(--cor-branco);
  color: var(--cor-primaria);
}

/* Media Query para telas menores (celulares) */
@media (max-width: 768px) {
  .heroContainer {
    height: 80vh;
  }

  .title {
    font-size: 2rem;
  }
}
